* {
    box-sizing: border-box;
    margin: 0;
}

body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color: lightgray;
    font-family: 'Noto Sans KR', sans-serif;
}

button,
input,
textarea {
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.sr-only {
    position: absolute;
    z-index: -100;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.title {
    font-size: 30px;
}

.fill-button {
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: #000000;
    color: #FFFFFF;
}

.modal-title {
    display: block;
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 700;
}

.modal-content {
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 17px;
    border: 1px solid lightgray;
}

header {
    margin-bottom: 30px;
}

nav {
    background-color: #000000;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 80px;
    padding: 20px 60px;
}

.logo {
    margin: 0 50px;
}

.logo a {
    font-size: 30px;
    color: #FFFFFF;
}

.menu-list {
    display: flex;
}

.menu {
    margin-right: 30px;
    font-size: 20px;
}

.menu:last-child {
    margin-right: 0;
}

.menu a {
    color: #757575;
}

.menu a.selected-menu {
    color: #FFFFFF;
}

main {
    margin: 0 100px;
}

.search-goods-wrapper {
    margin-bottom: 30px;
}

.search-goods {
    width: 300px;
    padding: 10px;
    font-size: 20px;
}

.goods-list-wrapper {
    margin-bottom: 30px;
}

.goods-wrapper {
    display: flex;
}

.goods {
    width: 300px;
    padding: 30px;
    margin-right: 100px;
    border-radius: 5px;
    background-color: white;
}

.goods-image {
    width: 230px;
    height: 230px;
    margin-bottom: 30px;
}

.goods-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.goods-title {
    font-size: 20px;
    margin-bottom: 2px;
}

.goods-company {
    font-size: 18px;
    margin-bottom: 7px;
    color: gray;
}

.goods-price {
    font-size: 18px;
    margin-bottom: 13px;
}

.cart-wrapper {
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.cart-wrapper > .title {
    margin-bottom: 15px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #000000;
    color: #FFFFFF;
}

.cart span {
    font-size: 25px;
}

.sum-price .price {
    margin-bottom: 15px;
    font-size: 20px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 500px;
    height: auto;
    padding: 50px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: none;
}

.buy-goods .button-wrapper .submission {
    margin-right: 10px;
}

.receipt-title {
    margin-bottom: 30px;
}

.receipt-history {
    margin-bottom: 30px;
}

.receipt-total {
    margin-bottom: 30px;
}